footer{
    background-color: #F5F3EB;
    padding-top: 4rem;
    
    .contenedor{
        position: relative;
        padding-left:10%;
        padding-right:10%;
        padding-bottom: 5rem;
        #data-fiscal{
            position: absolute;
            bottom: 3rem;
            right: 3rem;
            width: 90px;

        }
        .row{
            margin-top: 3rem;
        }
        a{
            text-decoration: none;
        }
        .title{
            color:$color-azul;
            font-size: $text-size-6;
            font-family: "inter-medium";
            font-weight: bold;
            margin-bottom: 0.3rem;
        }

        /*1° columna*/
        .logo-oro{
            margin-bottom: 1.5rem;
            width: 70%;
        }
        .seguinos{
            color:$color-azul;
            font-size: 1.05rem;
            font-family: "inter-medium";
            font-weight: 300;
            margin-bottom: 0.3rem;
        }
        .social{
            margin-bottom: 1rem;
            svg{
                color: $color-rojo;
                margin-right: 0.75rem;
            }
        }
        
        .mail,.phone{
            svg{
                color: $color-rojo;

            }
            span{
                color:$color-gris;
            }
        }
        .direccion{
            .subtitle{
                color:$color-rojo;
                font-size: 0.92rem;
                font-family: "inter-medium";
                font-weight: 500;
                line-height: initial;
                margin-top: 0.65rem;
            }
            span{
                line-height: initial;
                font-size: 0.92rem;
                color:$color-gris;
                display: block;
                margin-bottom: -1px;
            }
            
        }
        /*2° columna*/
        .unite{
            margin-top: 5.5rem;
            color:$color-azul;
            font-size: 1rem;
            font-family: "inter-medium";
            font-weight: bold;
            margin-bottom: 0.3rem;
        }
        .enviar{
            font-size: 0.9rem;
            font-weight: bold;
            font-family: "inter-light";
            border:2px $color-rojo solid;
            border-radius: 15px;
            padding: 3px 15px;
            color:$color-rojo;
            margin-top: 0.2rem;
            display: inline-block;
        }
        .text{
            color: $color-gris;
            font-weight: bold;
            line-height: initial;
        }
        .enacom{
            margin-top: 1rem;
            a{
                line-height: initial;
                font-size: 0.92rem;
                color:$color-gris;
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }
        }
        /*3° columna*/
        .links{
            font-family: "inter-light";
            font-size: 0.85rem;
            color: $color-azul;
            font-weight: bold;
            margin-top: 0.65rem;
            display: block;
            .logo-navegar{
                height: 22px;
            }
        }
    }
    .mini-banner{
        background-color: $color-azul;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        overflow: hidden;
        position: relative;
        .fondo-rojo{
            width: 78%;
            background-color: $color-rojo;
            border-top-right-radius: 2.5rem;
            border-bottom-right-radius: 2.5rem;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;
            height: calc(100% + 20px);
            margin-top: -10px;

        }
        p{
            z-index: 3;
            color: $color-blanco;
            font-size: 1.1rem;
            margin-bottom: 0px;
            font-weight: bold;
        }
    }
}
@media (max-width:767px){
    footer{
        font-size: $text-size-3;
        text-align: center;
        .contenedor{
            .logo{

            }
            .row{
                .col-12{
                    margin-bottom:3rem;
                }
            }
            a{

            }
            .subtitle{
                font-size: $text-size-1;
            }
            .enviar{

            }
            .acceso{

            }
            
            /*1° columna*/
        
            .social{

                svg{

                }
            }
            .mail,.phone{
                font-size: $text-size-2;
                svg{
    
                }
                span{

                }
            }
            /*2° columna*/
            .text{
                font-size: $text-size-2;
            }
            /*3° columna*/
            .links{
                font-size: $text-size-3;

            }
        }
    }
}