@font-face {
    font-family: "inter-bold";
    src: url("../font/Inter-Bold.ttf");
}
@font-face {
    font-family: "inter-light";
    src: url("../font/Inter-Light.ttf");
}
@font-face {
    font-family: "inter-regular";
    src: url("../font/Inter-Regular.ttf");
}
@font-face {
    font-family: "inter-medium";
    src: url("../font/Inter-Medium.ttf");
}
@font-face {
    font-family: "inter-semibold";
    src: url("../font/Inter-SemiBold.ttf");
}
@font-face {
    font-family: "lato-light";
    src: url("../Fonts/Lato-Light.ttf");
}
@font-face {
    font-family: "lato-bold";
    src: url("../Fonts/Lato-Bold.ttf");
}
@font-face {
    font-family: "montserrat-bold";
    src: url("../font/Montserrat-Bold.ttf");
  }
  @font-face {
    font-family: "montserrat-regular";
    src: url("../font/Montserrat-Regular.ttf");
  }
  @font-face {
    font-family: "montserrat-black";
    src: url("../font/Montserrat-Black.ttf");
  }
$title-size-1:3.7rem;//59px
$title-size-2:3rem;//49px
$title-size-3:2.65rem;//49px
$title-size-4:2.0rem;//49px
$text-size-1:1.875rem;//30px
$text-size-2:1.563rem;//25px
$text-size-3:1.4rem;//20px
$text-size-4:1.25rem;//20px
$text-size-5:1.125rem;//20px
$text-size-6:1.05rem;//20px
$color-blanco:#fff;
$color-mute:rgba(255, 255, 255, 0.85);
$color-rojo:#C80C10;
$color-rojo-transparente:#c80c0fb4;
$color-rosa:rgb(206, 41, 110);
$color-azul:#004990;
$color-celeste:#0691aa;
$color-gris:#808080;

.fadein{
    transition: opacity 1.2s;
}
.texto-blanco{
    color: $color-blanco;
}
.texto-rojo{
    color: $color-rojo;
}
.texto-azul{
    color: $color-azul;
}
h1,h2,h3,h4,h5,.title{
    font-family: "montserrat-black";
}
p,span,a,button{
    font-family: "montserrat-regular";
}
html,body
{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
input,textarea{
    transition: all 0.2s;
}  
input:focus,textarea:focus{
    box-shadow: 0px 0px 5px #c80c0f71 !important;
}  
.btn-rojo{
    color: $color-blanco;
    background-color: $color-rojo;
    transition: all 0.2s;
}
.btn-rojo:hover{
    color: $color-rojo ;
    background-color: $color-blanco;
    border: 1px $color-rojo solid;
}
.btn-rojo-inverted{
    color: $color-rojo;
    background-color: $color-blanco;
    border-color: $color-rojo;
    border-style: solid;
    transition: all 0.2s;
}
.btn-rojo-inverted:hover{
    color: $color-blanco ;
    background-color: $color-rojo;
    border: 1px $color-blanco solid;
}
.btn-azul{
    color: $color-blanco;
    background-color: $color-azul;
    transition: all 0.2s;
    svg{
        transition: all 0.25s;
    }
}
.btn-azul:hover{
    color: $color-azul ;
    background-color: $color-blanco;
    border: 1px $color-azul solid;
    svg{
        transform: rotate(90deg);
    }
}
.btn-azul.activo{
    color: $color-azul ;
    background-color: $color-blanco;
    border: 1px $color-azul solid;
    svg{
        transform: rotate(90deg);
    }
}
html { font-size: 100%; }
@media screen and (min-width: 300px) and (max-width: 767.9px){
    h1,h2,h3,h4,h5,.title{
        font-family: "montserrat-bold";
    }
    html { font-size: 52%; }
}
@media screen and (min-width: 768px) and (max-width: 999.9px){
    html { font-size: 75%; }
}
@media screen and (min-width: 1000px) and (max-width: 1400px){
    html { font-size: 90%; }
}
