header{
    background-color: $color-azul;
    .banner{
        padding-top: 15px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        .col{
            margin-left: 8%;
            span{
                font-size: 0.75rem;
                font-weight: 300;
                color: $color-mute;
            }
            p{
                font-size: 0.86rem;
                color: $color-blanco;
                margin-top: -3px;
            }
        }
        .col:last-child span{
            margin-left: 25px;
        }
    }
    nav{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -40px;
        .container-fluid{
            padding-left: 6rem;
            padding-right: 2rem;
            #tres_barra{
                padding-left: 2rem;
                padding-right: 2rem;
                svg{
                    font-size: 2.75rem;
                }
            }
        }
        .logo_home{
            height: 60px;
        }
        .item_logo_oro{
            margin-right: 100px;
            .logo_oro{
                height: 80px;
            }
        }
        li.dropdown{
            display: flex;
            align-items: center;
            a{
                color: $color-azul;
                font-size: $text-size-5;
                font-weight: 500;
                img{
                    height: 25px;
                    margin-right: 10px;
                }
                svg{
                    margin-left: 10px;
                }
            }
            
            .dropdown-toggle{
                display: flex;
                gap: 5px;
                align-items: center;
                svg{
                    border: 1px $color-rojo solid;
                    border-radius: 100%;
                    padding: 3px 3px;
                    color: $color-rojo;
                }
            }
            .dropdown-toggle::after{
                display: none;
            }
        }
    }
}