header{
    background-color: $color-azul;
    .header-menu.activo{
        display: block;
    }
    .header-menu{
        display: none;
        background-color: $color-blanco;
        position:fixed;
        width: 30%;
        z-index: 100;
        height: 100vh;
        top: 0px;
        padding: 0.5rem 3rem;
        .cerrar{
            position: absolute;
            top:1rem;
            right:1rem;
        }
        p{
            display: flex;
            align-items: center;
            color: $color-azul;
            font-size: $text-size-5;
            font-weight: 500;
            margin-top:1rem;
            margin-bottom:0.3rem;
            img{
                height: 25px;
                margin-right: 10px;
            }
            svg{
                margin-left: 10px;
                border: 1px $color-rojo solid;
                border-radius: 100%;
                padding: 3px 3px;
                color: $color-rojo;
                
            }
        }
        a{
            text-decoration: none;
            display: block;
            color: $color-gris;
        }
        a:hover{
            color: $color-azul;
        }
        .social{
            margin-bottom: 1rem;
            svg{
                color: $color-rojo;
                margin-right: 0.75rem;
            }
        }
    }
    .banner{
        padding-top: 15px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        .col{
            margin-left: 8%;
            span{
                font-size: 0.75rem;
                font-weight: 300;
                color: $color-mute;
            }
            p{
                font-size: 0.86rem;
                color: $color-blanco;
                margin-top: -3px;
            }
        }
        .col:last-child span{
            margin-left: 25px;
        }
    }
    nav{
        z-index: 1;
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -40px;
        .container-fluid{
            padding-left: 6rem;
            padding-right: 2rem;
            #tres_barra{
                padding-left: 2rem;
                padding-right: 2rem;
                svg{
                    font-size: 2.75rem;
                }
            }
        }
        .logo_home{
            height: 60px;
        }
        .item_logo_oro{
            margin-right: 100px;
            .logo_oro{
                height: 80px;
            }
        }
        li.dropdown{
            display: flex;
            align-items: center;
            a{
                color: $color-azul;
                font-size: $text-size-5;
                font-weight: 500;
                img{
                    height: 25px;
                    margin-right: 10px;
                }
                svg{
                    margin-left: 10px;
                }
            }
            
            .dropdown-toggle{
                display: flex;
                gap: 5px;
                align-items: center;
                svg{
                    border: 1px $color-rojo solid;
                    border-radius: 100%;
                    padding: 3px 3px;
                    color: $color-rojo;
                }
            }
            .dropdown-toggle::after{
                display: none;
            }
        }
    }
}
@media (max-width:768.1px) {
    header{
        .navbar-toggler{
            display: none;
        }
        .header-menu.activo{
        }
        .header-menu{
            .cerrar{
            }
            p{
                img{
                }
                svg{
                }
            }
            a{
            }
            a:hover{
            }
            .social{
                svg{
                }
            }
        }
        .banner{
            width: 98%;
            .row{
                --bs-gutter-x:0;
                .col{
                    text-align: center;
                    margin-left: 0px;
                    span{
                        font-size: 1.35rem;
                        font-weight: 500;
                    }
                    p{
                        font-size: 1.3rem;
                    }
                }
                .col:last-child span{
                    margin-left: 0;
                }
            }
            
        }
        nav{
            width: 88%;
            .container-fluid{
                padding-left: 0.4rem;
                padding-right: 0.4rem;
                flex-direction: row;
                #tres_barra{
                    padding-left: 1.4rem;
                    padding-right: 1.4rem;
                    svg{
                        font-size: 2.75rem;
                    }
                }
                a{
                    width: 75%;
                    .logo_home{
                    }
                }
            }
            
            .item_logo_oro{
                .logo_oro{
                }
            }
            li.dropdown{
                a{
                    img{
                    }
                    svg{
                    }
                }
                
                .dropdown-toggle{
                    svg{
                    }
                }
                .dropdown-toggle::after{
                }
            }
        }
    }
}