#section-acceso-clientes{
    margin-top: 3rem;
    margin-bottom: 4rem;
    .banner{
        background: linear-gradient(90deg, rgb(6, 0, 112) 0%, rgb(6, 0, 112) 55%, rgb(255, 0, 17) 95%, rgb(255, 0, 17) 100%);
        //background: url("../img/barra_color.png");
        background-size: cover;
        //background: rgb(6,0,112);
        //background: 
        //linear-gradient(90deg,rgba(255, 0, 17,1) 0%,
        //rgb(255, 0, 17) 40%, rgba(6,0,112, 1) 75%, rgba(6,0,112, 1) 100%);
        padding: 2rem 3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
        span{
            font-size: $title-size-2;
            font-weight: bold;
            color: $color-blanco;
            line-height: initial;
        }
        a{
            color: $color-blanco;
            background-color: $color-rojo;
            border-radius:0.6rem;
            font-size: $text-size-1;
            line-height: normal;
        }
    }
    .cartas.row{
        width: 73.5%;
        margin: auto;
        margin-bottom: 4rem;
        > div:hover{
            svg{
                transform: rotate(90deg);
                background-color: #fff;
                color: black;
            }
            span{
                margin-bottom: 0.35rem;
            }
            img{
                padding-bottom: 0.35rem;
            }
        }
        > div:first-child{
            svg{
                color: grey;
                border: 1px grey solid;
                background-color: white;
            }
        }
        .columna-1 a{
            background-size: contain;
            background-position: center;
            background-image: url("../img/acceso-cliente/LaPostal-img-7.png");
        }
        .columna-2 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-2-new.png");
        }
        .columna-3 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-3.jpg");
        }
        .columna-4 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-4.jpg");
        }
        .columna-5 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-5.jpg");
        }
        .columna-6 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-6.jpg");
        }
        a{
            display: flex;
            align-items: end;
            text-decoration: none;
            background-size: cover;
            min-height: 280px;
            background-repeat: no-repeat;
            padding: 0.75rem 0.95rem;
            position: relative;
            .logo-hybrin{
                transition: all 0.3s;
                width: 40px;
                padding-bottom: 0;
            }
            svg{
                position: absolute;
                right: 1.25rem;
                bottom: 1.75rem;
                border: 1px $color-blanco solid;
                padding: 0.5rem 0.75rem;
                color: $color-blanco;
                border-radius: 100%;
                transition: all 0.3s;

            }
            span{
                font-family: "lato-light";
                color: $color-blanco;
                font-weight: bold;
                font-size: $text-size-5;
                transition: all 0.25s;
                line-height: $text-size-2;
                min-height: calc($text-size-5 * 2);
                width: 86%;
            }
        }
        
    }
    .unimos{
        margin: auto;
        width: 72%;
        .title{
            color: $color-azul;
            font-size: 2.65rem;
            font-weight: 1000;
            line-height: 2.35rem;
        }
        .text{
            color: $color-gris;
            font-size: $text-size-5;
            line-height: $text-size-5;
            width: 85%;
            margin-bottom: 0.85rem;
        }
        .btn{
            
            border-radius:2rem;
            font-size: $text-size-4;
            padding: 0.2rem 1.2rem;
        }
        
        img{
            width: 100%;
        }
    }
    .subtitle{
        position: absolute;
        bottom: 1.4rem;
        display: block;
        text-align: right;
        width: 100%;
        color: white;
        font-size: 1.15rem;
        font-family: "montserrat-bold";
        padding-right: 10%;
        margin-bottom: 0px;
    }
}
@media (max-width:768.1px){
    #section-acceso-clientes{
        margin-top: 3rem;
        margin-bottom: 4rem;
        .banner{
            padding: 2rem 7rem 1rem 1.5rem;
            align-items: center;
            width: 100%;
            margin: auto;
            margin-bottom: 2rem;
            span{
                font-size: $title-size-3;
                font-weight: bold;
                color: $color-blanco;
                line-height: initial;
            }
            a{
                color: $color-blanco;
                background-color: $color-rojo;
                border-radius:0.6rem;
                font-size: $text-size-1;
            }
        }
        .cartas.row{
            width: 75%;
            margin: auto;
            margin-bottom: 4rem;

            .columna-1 a{
                background-image: url("../img/acceso-cliente/LaPostal-img-1.jpg");
            }
            .columna-2 a{
                background-image: url("../img/acceso-cliente/LaPostal-img-2.jpg");
            }
            .columna-3 a{
                background-image: url("../img/acceso-cliente/LaPostal-img-3.jpg");
            }
            .columna-4 a{
                background-image: url("../img/acceso-cliente/LaPostal-img-4.jpg");
            }
            .columna-5 a{
                background-image: url("../img/acceso-cliente/LaPostal-img-5.jpg");
            }
            .columna-6 a{
                background-image: url("../img/acceso-cliente/LaPostal-img-6.jpg");
            }
            a{
                display: flex;
                align-items: end;
                text-decoration: none;
                background-size: cover;
                min-height: 200px;
                background-repeat: no-repeat;
                padding: 2rem 2.25rem;
                position: relative;
                .logo-hybrin{
                    width: 40px;
                }
                svg{
                    position: absolute;
                    right: 1.25rem;
                    bottom: 1.75rem;
                    border: 1px $color-blanco solid;
                    padding: 0.6rem 0.85rem;
                    color: $color-blanco;
                    border-radius: 100%;
                }
                span{
                    color: $color-blanco;
                    font-weight: bold;
                    font-size: $text-size-3;
                }
            }
            
        }
        .unimos{
            margin: auto;
            width: 72%;
            .row{
                flex-direction: column-reverse;
                text-align: center;
            }
            .title{
                color: $color-azul;
                font-size: $title-size-4;
                font-weight: 1000;
                line-height: $title-size-4;
                margin-top: 1.5rem;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
            .text{
                color: $color-gris;
                font-size: $text-size-3;
                line-height: $text-size-3;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1.5rem;
                margin-top: 2rem;
            }
            .btn{
                color: $color-blanco;
                background-color: $color-rojo;
                border-radius:2rem;
                font-size: $text-size-3;
                padding: 0.2rem 1.2rem;
            }
            img{
                width: 100%;
            }
        }
    }
}