#section-acceso-clientes{
    margin-top: 3rem;
    margin-bottom: 4rem;
    .banner{
        background-image: url("../img/acceso_clientes.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 2rem 3rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 72%;
        margin: auto;
        margin-bottom: 2rem;
        span{
            font-size: $title-size-2;
            font-weight: bold;
            color: $color-blanco;
            line-height: initial;
        }
        a{
            color: $color-blanco;
            background-color: $color-rojo;
            border-radius:0.6rem;
            font-size: $text-size-1;
        }
    }
    .cartas.row{
        width: 73.5%;
        margin: auto;
        margin-bottom: 4rem;
        .columna-1 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-1.jpg");
        }
        .columna-2 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-2.jpg");
        }
        .columna-3 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-3.jpg");
        }
        .columna-4 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-4.jpg");
        }
        .columna-5 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-5.jpg");
        }
        .columna-6 a{
            background-image: url("../img/acceso-cliente/LaPostal-img-6.jpg");
        }
        a{
            display: flex;
            align-items: end;
            text-decoration: none;
            background-size: cover;
            min-height: 280px;
            background-repeat: no-repeat;
            padding: 0.5rem 0.75rem;
            position: relative;
            .logo-hybrin{
                width: 40px;
            }
            svg{
                position: absolute;
                right: 1.25rem;
                bottom: 1.75rem;
                border: 1px $color-blanco solid;
                padding: 0.6rem 0.85rem;
                color: $color-blanco;
                border-radius: 100%;
            }
            span{
                color: $color-blanco;
                font-weight: bold;
                font-size: $text-size-5;
            }
        }
        
    }
    .unimos{
        margin: auto;
        width: 72%;
        .title{
            color: $color-azul;
            font-size: 2.65rem;
            font-weight: 1000;
            line-height: 2.35rem;
        }
        .text{
            color: $color-gris;
            font-size: $text-size-4;
            line-height: $text-size-4;
            width: 85%;
            margin-bottom: 0.85rem;
        }
        .btn{
            color: $color-blanco;
            background-color: $color-rojo;
            border-radius:2rem;
            font-size: $text-size-3;
            padding: 0.2rem 1.2rem;
        }
        img{
            width: 100%;
        }
    }
}