#section-conectamos{
    .banner-1{
        background-color: $color-azul;
        padding: 1rem 0;
        .row{
            width: 72%;
            margin: auto;
            text-align: center;
            p{
                margin: 0rem;
                line-height: initial;
                font-weight: 1000;
                font-size: $text-size-1;
                color: $color-blanco;
                
            }
            span{
                font-size: $text-size-2;

                color: $color-blanco;

            }
        }
    }
    .content{
        
        .columna-1{
            padding-top: 4rem;
            padding-bottom: 14rem;
            article{
                width: 60%;
                margin-right: 0;
                margin-left: auto;
                h3{
                    font-size: $title-size-4;
                    font-weight: 1000;
                    color: $color-azul;
                    line-height: $title-size-4;
                    margin-bottom: 3rem;
                    width: 90%;
                    margin-left: auto;
                }
                .btn{
                    display: flex;
                    border-radius: 0.75rem;
                    padding: 0.75rem 1rem;
                    margin-bottom: 1rem;
                    font-size: 1rem;
                    font-weight: 500;
                    width: 25rem;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: auto;
                    margin-right: 0;
                } 
            }
            
        }
        .columna-2{
            position: relative;
            
            div{
                margin-top: 13rem;
                background-color: $color-blanco;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                padding: 0.85rem 0;
                position: relative;
                z-index: 3;
                height: auto;
                transition: all 0.2s;
                width: 90%;
                img{
                    width: 70px;
                    margin-left: 3rem;
                }
                ul{
                    font-family: "montserrat-regular";
                }
                .tarjeta{
                    display: none;
                    padding-left: 3.75rem;
                    padding-right: 0.2rem;
                    color: $color-gris;
                    font-size: 0.9rem;
                    font-weight: 500;
                    line-height: 1.10rem;
                    margin: 0.65rem 0;
                    opacity: 0;
                    transition: all 0.3s;
                    transform: scaleY(0);
                    overflow: hidden;
                }
                .tarjeta.activo{
                    transform: scaleY(1);
                    display:block;
                    opacity: 1;

                }
                .btn{
                    font-size: 0.8rem;
                    border: 2px $color-rojo solid;
                    border-radius: 1.25rem;
                    margin-left: 4.5rem;
                    padding: 0.2rem 0.75rem;
                }
            }
            article{
                z-index: 1;
                right: 0px;
                position: absolute;
                height: 100%;
                width: 90%;
                margin-left: auto;
                background-image: url("../img/conectamos.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                
            }
            
        }
    }
    .banner-2{
        background-color: $color-azul;
        padding: 1.25rem 0;
        position: relative;
        overflow: hidden;
        .row{
            position: relative;
            z-index: 3;
            width: 72%;
            margin: auto;
            p{
                margin: 0 0 0.75rem;
                line-height: initial;
                font-weight: bold;
                font-size: $text-size-5;
                color: $color-blanco;
            }
            span{
                font-size: 1rem;
                color: $color-blanco;
                line-height: initial;

            }
            .col-lg-4{
                display: flex;
                align-items: center;
                justify-content: center;
                .btn{
                    font-weight: 500;
                    font-size: $text-size-5;
                    border-radius: 2rem;
                }
            }
            
        }
        .fondo-rojo{
            width: 42%;
            background-color: $color-rojo;
            border-top-left-radius: 4rem;
            border-bottom-left-radius: 4rem;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 2;
            height: calc(100% + 20px);
            margin-top: -10px;

        }
    }
    .banner-3{
        padding: 2.25rem 0;
        position: relative;
        overflow: hidden;
        .row{
            position: relative;
            z-index: 3;
            width: 72%;
            margin: auto;
            .columna-1{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2.5rem;
                img{
                    height: 50px;
                    
                }
                p{
                    margin: 0 0 0.75rem;
                    line-height: $text-size-3;
                    font-weight: 1000;
                    font-size: $text-size-3;
                    color: $color-azul;
                }
            }
            .columna-2{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .btn{
                    font-size: 0.9rem;
                    border-width: 2px;
                    border-radius: 1.25rem;
                    margin-left: 1.5rem;
                    padding: 0.2rem 0.75rem;
                }
            }
        }
    }
}
@media (max-width:768.1px) {
    #section-conectamos{
        .banner-1{
            .row{
                justify-content: center;
                width: 90%;
            }
        } 
        .content{
            .columna-1{
                padding-top: 3rem;
                padding-bottom: 2rem ;
                article{
                    margin-left: auto;
                    margin-right: auto;
                    width: 80%;
                    h3{
                        
                    }
                    .btn{
                        font-size: $text-size-3;
                        font-weight: 500;
                        width: 32rem;
                        margin-left: auto;
                        margin-right: auto;
                    } 
                }
                
            }
            .columna-2{
                div{
                    margin-top: 6rem;
                    margin-bottom: 6rem;
                    padding: 1.2rem 0;
                    width: 92%;
                    img{
                        z-index: 111;
                        width: 40px;
                        position: absolute;
                        top: 10px;
                        left: 5px;
                        margin-left:0px;
                    }
                    .tarjeta{
                        font-size: 1.35rem;
                        line-height: 1.5rem;
                        padding-left:6.5rem;
                        padding-right:1rem;
                        margin-top: 5px;
                    }
                    .btn{
                        font-size: 1.45rem;
                        margin-left:6.5rem;
                        margin-top:0.5rem;
                    }
                }
                article{
                    width: 87%;
                }
                
            }
        }
        .banner-2{
            background-color: $color-azul;
            padding: 1.25rem 0;
            position: relative;
            overflow: hidden;

            .row{
                position: relative;
                z-index: 3;
                width: 95%;
                margin: auto;
                .col-lg-6{
                    padding-left: 1rem;
                    p{
                        margin: 0 0 0.75rem;
                        line-height: $text-size-2;
                        font-weight: bold;
                        font-size: $text-size-2;
                        color: $color-blanco;
                        margin-left: -0.5rem;
                    }
                    span{
                        font-size: 1.3rem;
                        color: $color-blanco;
                        line-height: initial;
        
                    }
                }
                
                .col-lg-4{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .btn{
                        background-color: $color-blanco;
                        color:$color-rojo;
                        font-weight: 500;
                        font-size: $text-size-3;
                        border-radius: 2rem;
                    }
                }
                
            }
            .fondo-rojo{
                width: 42%;
                background-color: $color-rojo;
                border-top-left-radius: 7rem;
                border-bottom-left-radius: 7rem;
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: 2;
                height: calc(100% + 20px);
                margin-top: -10px;
    
            }
        }
        .banner-3{
            padding: 2.25rem 0;
            position: relative;
            overflow: hidden;
            .row{
                position: relative;
                z-index: 3;
                width: 85%;
                margin: auto;
                .columna-1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2.5rem;
                    img{
                        height: 50px;
                        
                    }
                    p{
                        text-align: center;
                        margin: 0 0 0.75rem;
                        line-height: 1.8rem;
                        font-weight: 1000;
                        font-size: 1.75rem;
                        color: $color-azul;
                    }
                }
                .columna-2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1rem;
                    .btn{
                        font-size: 1.6rem;
                        border: 2px $color-rojo solid;
                        font-weight: bold;
                        border-radius: 1.25rem;
                        margin-left: 1.5rem;
                        padding: 0.2rem 0.85rem;
                        color: $color-rojo;
                    }
                }
                
            }
    
        }
    } 
}