#section-index-hero{
    background-image: url("../img/hero_img.jpg");
    background-size: cover;
    min-height: 700px;
    padding-top: 8rem;
    .container{
        margin-left: 50%;
        .title{
            font-size: $title-size-1;
            color: $color-blanco;
            font-weight: 1000;
            line-height: normal;
        }
        .subtitle{
            font-size: $text-size-2;
            color: $color-blanco;
            width: 45%;
        }
    }
   

}
@media screen and (min-width: 300px) and (max-width: 767.9px){
    #section-index-hero{

    }
}