#section-conectamos{
    .banner-1{
        background-color: $color-azul;
        padding: 1rem 0;
        .row{
            width: 72%;
            margin: auto;
            text-align: center;
            p{
                margin: 0rem;
                line-height: initial;
                font-weight: 1000;
                font-size: $text-size-1;
                color: $color-blanco;
            }
            span{
                font-size: $text-size-2;

                color: $color-blanco;

            }
        }
    }
    .content{
        
        .columna-1{
            padding-top: 5rem;
            padding-bottom: 8rem;
            article{
                width: 60%;
                margin-right: 0;
                margin-left: auto;
                h3{
                    font-size: $title-size-4;
                    font-weight: 1000;
                    color: $color-azul;
                    line-height: $title-size-4;
                    margin-bottom: 3rem;
                    width: 90%;
                    margin-left: auto;
                }
                .btn{
                    display: flex;
                    border-radius: 0.75rem;
                    background-color: $color-azul;
                    padding: 0.75rem 1rem;
                    margin-bottom: 1rem;
                    color: $color-blanco;
                    font-size: $text-size-6;
                    font-weight: 500;
                    width: 24rem;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: auto;
                    margin-right: 0;
                } 
            }
            
        }
        .columna-2{
            position: relative;
            div{
                margin-top: 13rem;
                background-color: $color-blanco;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                padding: 1.5rem 0;
                position: relative;
                z-index: 3;
                width: 75%;
                img{
                    width: 70px;
                    margin-left: 3rem;
                }
                p{
                    padding-left: 4.5rem;
                    padding-right: 1.5rem;
                    color: $color-gris;
                    font-size: 1.05rem;
                    font-weight: 500;
                    line-height: 1.2rem;
                    margin: 0.75rem 0;
                }
                .btn{
                    font-size: 0.8rem;
                    border: 2px $color-rojo solid;
                    border-radius: 1.25rem;
                    margin-left: 4.5rem;
                    padding: 0.2rem 0.75rem;
                    color: $color-rojo;
                }
            }
            article{
                z-index: 1;
                right: 0px;
                position: absolute;
                height: 100%;
                width: 90%;
                margin-left: auto;
                background-image: url("../img/conectamos.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                
            }
            
        }
    }
    .banner-2{
        background-color: $color-azul;
        padding: 1.25rem 0;
        position: relative;
        overflow: hidden;
        .row{
            position: relative;
            z-index: 3;
            width: 72%;
            margin: auto;
            p{
                margin: 0 0 0.75rem;
                line-height: initial;
                font-weight: bold;
                font-size: $text-size-5;
                color: $color-blanco;
            }
            span{
                font-size: $text-size-6;
                color: $color-blanco;
                line-height: initial;

            }
            .col-md-4{
                display: flex;
                align-items: center;
                justify-content: center;
                .btn{
                    background-color: $color-blanco;
                    color:$color-rojo;
                    font-weight: 500;
                    font-size: $text-size-5;
                    border-radius: 2rem;
                }
            }
            
        }
        .fondo-rojo{
            width: 42%;
            background-color: $color-rojo;
            border-top-left-radius: 4rem;
            border-bottom-left-radius: 4rem;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 2;
            height: calc(100% + 20px);
            margin-top: -10px;

        }
    }
    .banner-3{
        padding: 2.25rem 0;
        position: relative;
        overflow: hidden;
        .row{
            position: relative;
            z-index: 3;
            width: 72%;
            margin: auto;
            .columna-1{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2.5rem;
                img{
                    height: 50px;
                    
                }
                p{
                    margin: 0 0 0.75rem;
                    line-height: $text-size-2;
                    font-weight: 1000;
                    font-size: $text-size-2;
                    color: $color-azul;
                }
            }
            .columna-2{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .btn{
                    font-size: 0.8rem;
                    border: 2px $color-rojo solid;
                    border-radius: 1.25rem;
                    margin-left: 1.5rem;
                    padding: 0.2rem 0.75rem;
                    color: $color-rojo;
                }
            }
            
        }

    }
}