#section_lectura-inteligente{
    background-color: $color-blanco;
    position: relative;
    z-index: 0;
    
    .content{
        
        .columna-1{
            position: relative;
            padding-bottom: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            article{
                width: 74%;
                margin-right: 0;
                margin-left: auto;
                margin-top: 4rem;
                
                p{
                    color: $color-azul;
                    font-size: 0.9rem;
                    font-weight: 1000;
                    span{
                        color: $color-rojo;
                    }
                }
                h3{
                    font-size: $title-size-4;
                    font-weight: 1000;
                    color: $color-azul;
                    line-height: $title-size-4;
                    margin-bottom: 3rem;
                    margin-top: 4rem;
                    padding-right: 2rem;
                    width: 100%;
                    margin-left: auto;
                    text-align: end;
                }
            }
            .contenedor-botones{
                margin-left: auto;
                width: 70%;
                margin-top: 1.5rem;
                .btn{
                    display: flex;
                    border-radius: 0.75rem;
                    padding: 0.9rem 0.85rem;
                    margin-bottom: 1rem;
                    font-size: $text-size-6;
                    font-weight: 500;
                    width: 26rem;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: auto;
                    margin-right: auto;
                } 
            }
        }
        .columna-2{
            position: relative;
            display: flex;
            align-items: center;
            div{
                margin-top: 13rem;
                background-color: rgba(255, 255, 255, 0.89);
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                padding: 0;
                position: relative;
                z-index: 3;
                height: auto;
                transition: all 0.2s;
                width: 75%;
                p{
                    display: none;
                    padding-left: 4.5rem;
                    padding-right: 1.5rem;
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    color: $color-gris;
                    font-size: 1.05rem;
                    font-weight: 500;
                    line-height: 1.2rem;
                    margin: 0.75rem 0;
                    opacity: 0;
                    transition: all 0.3s;
                    transform: scaleY(0);
                    overflow: hidden;
                }
                p.activo{
                    transform: scaleY(1);
                    display:block;
                    opacity: 1;

                }
            }
            
            article{
                z-index: 1;
                right: 0px;
                position: absolute;
                height: 100%;
                width: 100%;
                margin-left: auto;
                background-image: url("../img/lectura_inteligente.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                
            } 
        }
    }
}
@media (max-width:768.1px){
    #section_lectura-inteligente{
        .content{
            .columna-1{
                position: relative;
                padding-bottom: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-image: url("../img/lectura_inteligente.jpg");
                background-size: cover;
                article{
                    width: 94%;
                    margin-right: 0;
                    margin-left: auto;
                    margin-top: 6rem;
                    p{
                        color: $color-blanco;
                        font-size: 1.4rem;
                        font-weight: 1000;
                        span{
                            color: $color-rojo;
                        }
                    }
                    h3{
                        font-size: $title-size-4;
                        font-weight: 1000;
                        color: $color-blanco;
                        line-height: $title-size-4;
                        margin-bottom: 2rem;
                        margin-top: 3rem;
                        padding-right: 2rem;
                        width: 100%;
                        margin-left: auto;
                        text-align: center;
                    }
                }
                .contenedor-botones{
                    margin-left: auto;
                    margin-right: auto;
                    width: 85%;
                    margin-top: 1.5rem;
                    .btn{
                        display: flex;
                        border-radius: 0.75rem;
                        background-color: $color-azul;
                        padding:0.4rem 1.2rem;
                        margin-bottom: 1.4rem;
                        color: $color-blanco;
                        font-size: $text-size-2;
                        font-weight: 600;
                        width: 28rem;
                        justify-content: space-between;
                        align-items: center;
                        margin-left: auto;
                        margin-right: auto;
                        box-shadow: 0 0 8px #ffffff57;
                    } 
                }
            }
            .columna-2{
                position: relative;
                
                article{
                    z-index: 1;
                    right: 0px;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    margin-left: auto;
                    background-image: url("../img/lectura_inteligente.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    
                } 
            }
        }
    }
}